/*Profile Icon*/
.profileIcon {
    width: 40px;
    height: 40px;
    background: #0a6e57;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 700;
    margin-left: 10px;
}

/*Slide Popup Menu*/
.profileMenu{
    position: absolute;
    top: 65px;
    right: 20px;
    width: 280px;
    background: white;
    border-radius: 12px;
    box-shadow: 0px 4px 20px rgba(0,0,0,0.15);
    padding: 15px;
    display: none;
    animation: slideIn 0.25s ease-out;
    z-index: 999;
}

@keyframes slideIn{
    from{transform: translateY(-10px); opacity: 0;}
    to{transform: translateY(0); opacity: 1;}
}

/*Menu Items*/
.profileMenu a{
    display: block;
    padding: 8px 0;
    color: #333;
    text-decoration: none;
}

.profileMenu a:hover{
    color: #0a6e57;
    font-weight: 600;
}

/* Form ----------------------------------------------------------------------- */

label > * {
    vertical-align: text-top;
}

.form {
    display: grid;
    grid: auto / auto auto auto;
    gap: 5px;
    place-content: start;
    place-items: center start;
}

.form > label:not(:has(*)) {
    background: #ccc;
    font-weight: bold;
    padding: 5px;
    place-self: stretch;
}

.form > section,
.validation-summary-valid,
.validation-summary-errors {
    grid-column: 1 / -1;
}

.validation-summary-valid ul,
.validation-summary-errors ul {
    margin: 0;
}

.field-validation-error,
.validation-summary-errors {
    color: red;
}