@model RegisterVM

@{
    ViewBag.Title = "Register";
}

<form class="form" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly"></div>

    <label asp-for="Name"></label>
    <input asp-for="Name" />
    <span asp-validation-for="Name"></span>

    <label asp-for="Email"></label>
    <input asp-for="Email" autofocus />
    <span asp-validation-for="Email"></span>

    <label asp-for="Password"></label>
    <input asp-for="Password" />
    <span asp-validation-for="Password"></span>

    <label asp-for="ConfirmPassword"></label>
    <input asp-for="ConfirmPassword" />
    <span asp-validation-for="ConfirmPassword"></span>

    <label asp-for="Photo"></label>
    <label class="upload">
        <input asp-for="Photo" accept="image/*" hidden />
        <img src="/images/empty.jpg" />
    </label>
    <span asp-validation-for="Photo"></span>

    <section>
        <button>Register</button>
        <button type="reset">Reset</button>
    </section>

</form>